<ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title>
        Search address :   
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content [fullscreen]="true">
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">Search address : </ion-title>
      </ion-toolbar>
    </ion-header>

    <search-address-input 
      [formControl]="myControl"
      [options]="options"
      (selected)="selectedAddress($event)"
      class="full-width" >
    </search-address-input>

    <app-ol-map [features]="features"></app-ol-map>

  </ion-content>
  